/* Sección de fuentes */
@font-face{
    font-family: Poppins;
    src: url('../multimedia/web-fonts/Poppins-Regular.ttf') format('truetype');
}
    /* Alarakha */
@font-face {
    font-family: AmaticSC-Regular;
    src: url('../multimedia/web-fonts/AmaticSC-Regular.ttf') format('truetype');
}
/* Fin de sección de fuentes */