/* Mapas */

$stock:(
    br-stock: 2em,
    bg-stock: black,
    font-stock: 0.8em,
);
$hover-stock:(
    bg-hstock: rgb(34,34,34),
);
$sin-stock:(
    bg-sstock: rgb(63, 63, 63),
    font-sstock: 0.8em,
    display-precio: none,
);
$hover-sin-stock:(
    bg-hsstock: rgb(75, 75, 75),
);

/* Fin de Mapas */