<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Meta etiqueta description y kw | Entre 70 a 320 caracteres -->
    <meta name="description" content="Acá podés conocer medios de pago, detalles de envíos y reclamos de la tienda y nuestros brocheros, neceseres, carteras, bolsos y mucho más con un estilo único, creativo y con amor">


    <!-- Meta kw | 18 palabras es lo ideal -->
    <meta name="keywords" content="alarakha, tienda, brocheros, neceseres, carteras, bolsos, monederos, estilo, moda, creatividad, amor, diseño, maquillajes">


    <!-- Protocolo open graph | Para definir cómo se muestra mi sitio en redes sociales -->
    <meta property="og:tittle" content="Alarakha | hecho • con • amor">
    <meta property="og:url" content="https://alarakha-neceseres.000webhostapp.com/index.html">
    <meta property="og:image" content="https://alarakha-neceseres.000webhostapp.com/src/multimedia/images/general/logo.png">
    <meta property="og:description" content="Acá podés conocer medios de pago, detalles de envíos y reclamos de la tienda y nuestros brocheros, neceseres, carteras, bolsos y mucho más con un estilo único, creativo y con amor">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        

    <!-- Css -->
    <link rel="stylesheet" href="../css/style.css">    


    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/01c9b60a99.js" crossorigin="anonymous"></script>
    

    <!-- Animaciones -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


    <title>Alarakha Neceseres | Tienda</title>
</head>
<body>


    <!-- Header -->
    <header id="Header">
      <nav class="navbar navbar-expand-lg navbar-light bg-leo">
        <div class="container-fluid d-flex justify-content-between">
          <a class="animate__animated animate__bounce navbar-brand navbar__logo" href="../../index.html"><img src="../multimedia/images/general/logo.png" alt="logo-Alarakha" class="w-100"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="catalogo.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Catálogo
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="catalogo.html#brochero">Brocheros</a></li>
                  <li><a class="dropdown-item" href="catalogo.html#cartera">Carteras</a></li>
                  <li><a class="dropdown-item" href="catalogo.html#mochila">Mochilas</a></li>
                  <li><a class="dropdown-item" href="catalogo.html#neceser">Neceseres</a></li>
                  <li><a class="dropdown-item" href="catalogo.html#portatodo">Portatodo</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="catalogo.html">Ver todo</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#medios">Medios de pago</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#ventaspm">Ventas al por mayor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/stories/highlights/17909957731855954/" target="_blank"><i class="fab fa-instagram"></i> InstaTips</a>
              </li>
            </ul>
            <form class="ms-auto d-flex">
              <input class="form-control me-2" type="search" placeholder="¿Qué necesitas?" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <!-- Fin de Header -->


    <!-- Título -->
    <section class="ancla" id="Title">
    <h1>Tienda</h1>
    </section>
    <!-- Fin de título -->


    <!-- Sección de medios de pago -->
    <section class="ancla" id="medios">
    <h2>💳 Medios de pago</h2>
    <div class="atencion">
    <img width="35%" data-aos="zoom-in-right" src="../multimedia/images/general/atencion.png" alt="atencion">
    </div>
    <p class="texto-comun">Alarakha Neceseres no cuenta con sistema de cuotas bancarias</p>
    <ul class="medios-item"> Podés pagar con:
      <br>
      <br>
      <li>Efectivo</li>
      <li>Mercado Pago</li>
      <li>Tarjetas de crédito y débito</li>
      <li>Transferencia Bancaria</li>
    </ul>
    </section>
    <!-- Fin de sección de medios de pago -->


    <!--Sección sobre ventas al por mayor-->
    <section class="ancla" id="ventaspm">
        <h2>Sobre ventas al por mayor</h2>
        <div class="ventaspm">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Falarakhaneceseres%2Fposts%2F4078876035479333&show_text=true&width=500" width="500" height="712" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </section>
    <!--Fin de Sección sobre ventas al por mayor-->


    <!-- Sección de cambios y devoluciones -->
    <section class="ancla" id="cambiosDev">
      <h2>Cambios y devoluciones</h2>
      <p class="texto-comun">
        Los productos adquiridos a través de nuestra tienda virtual tienen cambio dentro de los 30 días de realizada la compra. Si la compra fue enviada a través de  Oca, el costo del envío no se toma en consideración para el cambio y el cliente se hará cargo de los gastos de los nuevos envíos. En el caso de que sea por una falla de fábrica, asumimos los gastos correspondientes de la reposición de su pedido en excelente estado. Para solicitar la reposición <strong><a href="contacto.html">contactanos</a></strong>.<br>
        <br>
        PARA REALIZAR CAMBIOS DURANTE LA PANDEMIA CONTACTARSE VIA WHATSAPP AL +54-911-624-889-37 DE LUNES A VIERNES DE 10  A 17 HS<br>
        <br>
        Importante! Los productos con descuento promocional, no tienen cambio.<br>
        <br>
        Para poder efectuar el cambio de prodcutos deberán presentarse en óptimas condiciones, de lo contrario nos reservamos el derecho de cambio.<br>
        <br>
        Es necesario que el producto se encuentre sin uso, en perfectas condiciones, con etiquetas y bolsas correspondientes. De lo contrario nos reservamos el derecho de cambio.<br>
        <br>
        No se realizan devoluciones ni reintegros de la compra. Una vez realizada la orden no se puede cancelar el mismo, así como tampoco modificarse antes de la entrega. <br>
        <br>
        Alarakha Neceseres garantiza todos sus productos. Cada producto se envía en su correspondiente bolsa y debidamente embalado. Si el paquete que contiene tu pedido esta abierto a la hora de ser entregado, por favor no lo aceptes y escribinos a alarakha.neceseres@gmail.com con el numero de tu orden para chequear la mercadería con el correo antes de entregarla.<br>
        <br>
        Una vez que te enviamos el mail avisando que nos llegó el pedido devuelto por OCA, tienen 15 días para responder el mensaje, de lo contrario se perderá el derecho a reclamo.<br>
      </p>
    </section>
    <!-- Fin de sección de cambios y devoluciones -->


    <!-- Sección sobre envíos -->
    <section class="ancla" id="envios">
        <h2>Envíos</h2>
        <p class="texto-comun mb-5">
          Podemos enviartelo por correo OCA a tu sucursal más cercana o a domicilio, con costo a cargo del cliente. Los envios mediante OCA tardan de  3 a 10 días HÁBILES aprox. Tené en cuenta que este plazo comienza a contar desde que confirmamos tu pago.<br>
          <br>
          En las fechas de alta demanda, como navidad, hot sale y cybermonday los tiempos de envío pueden incrementarse debido al colapso de los correos y pedidos.<br>
          <br>
          Una vez que mandamos el pedido, te pasamos el número de seguimiento para que chequees en la página de Oca (www.oca.com.ar) en Tracking de paquetes.<br>
          <br>
          IMPORTANTE! El código te llega por mail, por las dudas revisá tu carpeta de spam.
          Si tu pedido ya llegó a destino (es decir a la sucursal de Oca que elegiste) tenés 5 DIAS para retirarlo, de lo contrario lo devuelven a la sucursal de origen.<br>
          <br>
          Si tu pedido fue a domicilio, tené en cuenta que la entrega se realiza en días hábiles de 8:00 a 20:00hs. La persona que recibe el pedido debe ser mayor de 18 años y presentar documento de identidad.
          Si tu pedido fue a sucursal, lo puede retirar el titular de la compra o bien una persona autorizada con documento de identidad y carta de autorización.<br>
        </p>
    </section>
    <!-- Fin de sección sobre envíos -->


    <!-- Inicio de footer -->
    <footer>
      <div class="menu__footer">
            <!--Sección sobre la tienda-->
            <nav class="menu__footer__item">
            <h6 class="menu__footer__item__title fs-5">Tienda</h4>
            <ul class="m-0 mb-4 p-0">
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="#medios">Medios de Pago</a></li>
                <li><a href="#cambiosDev"> Cambios y devoluciones</li></a>
                <li><a href="#envios"> Sobre envíos</li></a>
            </ul>
            </nav>
            <!--Fin de Sección sobre la tienda-->


            <!--Sección Sobre Nosotros-->
            <nav class="menu__footer__item">
            <h6 class="menu__footer__item__title fs-5">Sobre Nosotros</h4>
            <ul class="m-0 mb-4 p-0">
                <li><a href="nosotros.html#Alarakha">Nuestra Historia</a></li>
                <li><a href="nosotros.html#sobreMi">Bio</a></li>
                <li><a href="nosotros.html#materiaPrima">Producción</a></li>
            </ul>
            </nav>
            <!--Fin de Sección Sobre Nosotros-->

            
            <!--Sección Redes Sociales y contacto-->
            <nav class="menu__footer__item menu__footer__item--redes">
            <div>
            <!--Botón de Instagram-->
            <a class="display-5 mb-0" href="https://www.instagram.com/alarakha.neceseres/" target="_blank"><i class="fab fa-instagram menu__footer__item__iconos"></i></a>
            <!--Botón de Facebook-->
            <a class="display-5 mb-0" href="https://www.facebook.com/alarakhaneceseres" target="_blank"><i class="fab fa-facebook menu__footer__item__iconos"></i></a>
            </div>
            <nav class="menu__footer__item--contacto">
              <!-- Botón de Enviar Correo -->
              <a href="mailto:alarakha.neceseres@hotmail.com"><i class="fas fa-at"></i></a>
              <!-- Botón de Ubicación -->
              <a href="https://www.google.com/maps/place/Caseros,+Provincia+de+Buenos+Aires/@-34.6097924,-58.5811922,14z/data=!3m1!4b1!4m5!3m4!1s0x95bcb8698cab7fa3:0xc4d83fe138c75b6f!8m2!3d-34.6094827!4d-58.5634631" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
              <!-- Botón de Enviar WhatsApp -->
              <a href="https://wa.me/+5491162488937?text=Hola,%20quería%20consultar%20por%20" class="whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </nav>
            </nav>
            <!-- Fin de Sección Redes Sociales y contacto -->


            <!-- Botón subir a inicio -->
            <a class="menu__footer__item--flecha-header" data-aos="fade-up" href="#"><i class="fas fa-arrow-circle-up fs-2"></i></a>
      </div>
      <nav>
        <img class="footer__logo" src="../multimedia/images/general/logo.png" alt="logo-Alarakha">
        <p class="footer__copyrigth mb-0">Copyright Alarakha - 2021. Todos los derechos reservados</p>
      </nav>
            <!-- Fin de botón para subir a inicio -->
    </footer>
    <!-- Fin de footer -->


    <!-- Link Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


    <!-- Link Animaciones -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


</body>
</html>